---
---
@import "main";

body {
   background: url("assets/css/images/bkg.png");  /* Adjusted path */
  padding-bottom: 4px;
  background-size: cover;
  background-position: top;
  background-attachment: scroll;
  font-family: 'Inconsolata', monospace;
  font-weight: 400; /* Example: set a default font weight */
}

h1, h2, h3 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700; /* Example: set a different font weight for headings */
}

/* Style the header */
.site_header {
  padding: var(--space-s) 0;
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(10, 10, 10, 0.6));
}

.site_header_nav ul li a {
  text-decoration: none;
}
    
/* Just adds more personality and styles the Home Page */
.hero_content {
  padding: var(--space-3xl) 0;
}

.hero_content h1 {
  margin-bottom: var(--space-s);
}

.hero_social {
  padding-top: var(--space-3xl);
}

/* General styling and where the magic happens */
section {
  padding: var(--space-2xl) var(--space-l);
}
