<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <style>
    .post-header {
      min-height: 300px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
      text-shadow: 0 0 5px rgba(0,0,0,0.7);
    }
  </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
  <style>
  body {
      background-image: url('assets/css/images/bkg.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover; 
    }
</style>
  </body>
</html>
